.navbar {
    background-color: rgba(0, 93, 181, 0.9); /* Một màu nửa trong suốt */
}

.nav-link {
    transition: color 0.3s; /* Thêm hiệu ứng chuyển màu */
}

.nav-link:hover {
    color: #0dcaf0; /* Màu khi hover */
}

.btn-outline-light:hover {
    background-color: #0dcaf0; /* Màu nền cho 버튼 Log In khi hover */
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3; /* Màu nền cho button Register khi hover */
}
